<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
    <h2>회원등록</h2>
    <form action="/profiles" method="post" enctype="multipart/form-data">
        이름 <input type="text" name="name"/><br/>
        번호 <input type="text" name="number"/><br/>
        나이 <input type="text" name="age"/><br/>
        <input type="file" name="userfile"/>
        <button type="submit">등록</button>
    </form>
</body>
</html>
