<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>비상!</title>
</head>
<body>
    <h2>404 Error</h2>
    <div>죄송합니다. 해당 url은 접근할 수 없습니다.</div>
    <a href="/">메인페이지로</a>
</body>
</html>
