<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
    <h1>GET 로그인</h1>
    <form action="/result" method="get">
        <input type="text" name="id"/>
        <input type="password" name="pw"/>
        <button type="submit">제출</button>
    </form>

    <h1>POST 로그인</h1>
    <form action="/result" method="post">
        <input type="text" name="id"/>
        <input type="password" name="pw"/>
        <button type="submit">제출</button>
    </form>
</body>
</html>
