<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
    <h2>방명록</h2>
    <a href="/">홈페이지로 이동</a>
    <ul>
        <% for (let i = 0; i < getCommentInfos.length; i++) { %>
        <li>
            <b><%= getCommentInfos[i].userId %></b> -
            <a><%= getCommentInfos[i].comment %></a>
        </li>
        <% } %>
    </ul>        
</body>
</html>
